.header {
    margin: 0;
    background-color: black;
    padding: 10px;
}

.header_title {
    color: white;
}

.header_img {
    width: 100%;
}

/*我的收藏中按行显示*/

/* .img_container {
    display: flex;
    width: 80%;
    text-align: center;
    margin-right: 0;
    margin-left: 100px;
} */

/*我的收藏中按列显示*/

.img_container {
    display: block;
    float: left;
    width: 80%;
    text-align: center;
    margin-right: 0;
    margin-left: 100px;
}

.popular_img {
    width: 300px;
    height: 400px;
}

.duiqi {
    margin: auto;
    font-family: serif;
}

.subtitle {
    text-align: center;
}

.navigation {
    display: inline-block;
    color: white;
    font-size: large;
    text-decoration: none;
    /* float: right; */
    padding-left: 10px;
    padding-right: 10px;
}

.navigation:hover {
    color: black;
    background-color: white;
}

.foot {
    width: 100%;
    margin: 0;
    background-color: black;
    padding: 2px;
    display: inline-block
}

.foot_text {
    color: white;
    font-size: 10px;
    text-align: center;
}

.detailed_img {
    width: 40%;
    height: 40%;
    text-align: center;
}

.detailed_img_search {
    width: 20%;
    height: 20%;
    text-align: center;
}

.detailed_intro {
    display: inline;
    text-align: left;
    margin-left: 10px;
    width: 50%;
}

.text_details {
    margin-left: 10%;
}

label {
    display: inline-block;
    width: 10em;
    margin-right: 1em;
    text-align: right;
}

.shining_button {
    margin-top: 10px;
    background-color: white;
    font-size: large;
}

.shining_button:hover {
    background-color: black;
    color: blanchedalmond;
}

.deleteFavourite:hover {
    background-color: black;
    color: blanchedalmond;
}

#shoucang {
    width: 80px;
    height: 30px;
}

.work_name {
    margin-bottom: 5px;
}

.underSearchframe {
    display: block;
    margin: auto;
    width: 80px;
    height: 30px;
    font-size: large;
}

.Searchframe {
    display: block;
    margin: auto;
    margin-top: 100px;
    width: 600px;
    height: 30px;
    font-size: large;
}

.result_container {
    display: block;
}

.result_content {
    height: 30%;
    width: 30%;
}

.centerform {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-left: 400px;
}

.pagination {
    display: inline-block;
    padding: 0;
    margin-left: 540px;
}

.pagination li {
    display: inline;
}

.pagination li a {
    color: black;
    float: left;
    padding: 2px 6px;
    text-decoration: none;
}

.usrinfo {
    display: inline;
}